* **Course: ANA500 MICROPROJECT - MICROSOFT STOCK PRICE PREDICTION**
* **Author - Magnus Aghe**

In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

warnings.filterwarnings("ignore")

In [2]:
# Load the data
Microsoft_Stock_dataset = pd.read_csv("Microsoft_Stock.csv", parse_dates=[0])

In [3]:
df = Microsoft_Stock_dataset
df.head()

                 Date   Open   High    Low  Close    Volume
0 2015-04-01 16:00:00  40.60  40.76  40.31  40.72  36865322
1 2015-04-02 16:00:00  40.66  40.74  40.12  40.29  37487476
2 2015-04-06 16:00:00  40.34  41.78  40.18  41.55  39223692
3 2015-04-07 16:00:00  41.61  41.91  41.31  41.53  28809375
4 2015-04-08 16:00:00  41.48  41.69  41.04  41.42  24753438

In [4]:
df.tail()

                    Date    Open    High     Low   Close    Volume
1506 2021-03-25 16:00:00  235.30  236.94  231.57  232.34  34061853
1507 2021-03-26 16:00:00  231.55  236.71  231.55  236.48  25479853
1508 2021-03-29 16:00:00  236.59  236.80  231.88  235.24  25227455
1509 2021-03-30 16:00:00  233.53  233.85  231.10  231.85  24792012
1510 2021-03-31 16:00:00  232.91  239.10  232.39  235.77  43623471

In [5]:
#summary statistics
df.describe()

              Open         High          Low        Close        Volume
count  1511.000000  1511.000000  1511.000000  1511.000000  1.511000e+03
mean    107.385976   108.437472   106.294533   107.422091  3.019863e+07
std      56.691333    57.382276    55.977155    56.702299  1.425266e+07
min      40.340000    40.740000    39.720000    40.290000  1.016120e+05
25%      57.860000    58.060000    57.420000    57.855000  2.136213e+07
50%      93.990000    95.100000    92.920000    93.860000  2.662962e+07
75%     139.440000   140.325000   137.825000   138.965000  3.431962e+07
max     245.030000   246.130000   242.920000   244.990000  1.352271e+08

In [6]:
df.dtypes

Date      datetime64[ns]
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
dtype: object

In [7]:
df.shape

(1511, 6)

In [8]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [9]:
# check for null values
df.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [10]:
# Unique values

df.nunique().sort_values(ascending=True)

Low       1397
Close     1398
High      1400
Open      1409
Date      1511
Volume    1511
dtype: int64

In [11]:
# Datatype info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1511 entries, 0 to 1510
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1511 non-null   datetime64[ns]
 1   Open    1511 non-null   float64
 2   High    1511 non-null   float64
 3   Low     1511 non-null   float64
 4   Close   1511 non-null   float64
 5   Volume  1511 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 71.0 KB